

%br
%br

.center-align
  %h3 Welcome To
  %h1 Sortibly
  %h6
  =link_to 'Sign In', new_user_session_path
  to start creating projects
  %h6 Don't have an account?
  =link_to "Click here!", new_user_registration_path
- if user_signed_in?
  .center
    =link_to 'Continue to Your Projects', projects_path, :class => "waves-effect waves-light btn center-align"
