<div>
<br />
<br />
<%= simple_form_for @note, url: project_note_path(@project, @note) do |f| %>
<%= f.input :note_text, label:"Note"  %>
<a class="waves-effect waves-light right btn"><%= f.submit 'Update' %></a>
<% end %>
</div>
