<h1> add new suggestion </h1>

<div class="make-flexible-project-box">
  <%= simple_form_for @upgrade do |f| %>
    <%= f.input :title %>
    <%= f.input :idea %>
  </br>
    <%= f.submit 'Create' %>
  <% end %>
</div>
