<br/>
<br/>

<div class="make-flex-container">
  <% @projects.each do |project| %>
    <%= link_to project_path(project) do %>
      <div class="make-flexible-project-box">
          <%= project.title %> <br/>
          <%= project.priority%> <br/>
      </div>
    <% end %>
  <% end %>
</div>
