<% @projects.each do |project| %>
  <div>
    <p><%= project.title %></p> <br/>
    <p><%= project.note %></p> <br/>
    <p><%= project.label%></p> <br/>
    <p><%= project.priority%></p> <br/>
  </div>

  <hr />
<% end %>
