<h1 class="style-h1">Animus</h1>
<br/>

<div class="make-flex-container">
  <% @projects.each do |project| %>

    <div class="make-flexible-project-box">
      <div class="test">
      <%= project.title %> <br/>
      <%= project.priority%> <br/>
      </div>
    </div>

  <% end %>
</div>
