

<!-- NOT IN USE <br/>
<h1 class="style-h1">New Idea</h1>
<br/>
<br/>

<div>
  <%= simple_form_for @project do |f| %>
    <%= f.input :label, label: "Select Category", as: :radio_buttons, collection: Project::LABELS %>
  </br>
    <%= f.submit 'Create' %>
  <% end %>
</div> -->
