@import "font-awesome";
@import "materialize";

*{
  outline: none;
}

body{
  background-color: #FDFDF9;
}

a{
  color:#E55B47;

}





/*page border*/
.page-border{
  padding-right:20px;
  padding-left:20px;

}

/*nav styling*/
nav .nav-wrapper{
  height:100px;
  line-height: 100px;
  background-color: #18494C;
  color: #FDFDF9;
}

nav{
  height:100px;
}

nav .brand-logo{
  margin-left: 15px;
  color: #FDFDF9;
}

.notices{
  position: absolute;
  z-index: 2;
  left:30%;
}

.notice{
  background-color: rgba(86, 163, 166,0.5);
  padding:10px;
}

.alert{
  background-color: rgba(229, 91, 71,0.5);
  padding:10px;
}





/*svg images*/

.art-image{
  background: image-url("art.svg") no-repeat center;

}

.arch-image{
  background: image-url('arch.svg') no-repeat center;
}

.craft-image{
  background: image-url('craft.svg') no-repeat center;
}

.furn-image{
  background: image-url('furn.svg') no-repeat center;
}
.app-image{
  background: image-url('app.svg') no-repeat center;
}

img{
  width: 100px;
  height: 100px;
}

.img-container div{
  margin-bottom:30px;
}


/*form styling*/

textarea{
  color:black;
}

input{
  height:6rem;
}

input[type=number]{
  height:6rem;
}

.input-field{
  width:100%;
}
/*general styling for forms*/
.simple_form{
  margin-left:auto;
  margin-right:auto;
  max-width: 1000px;
}


/*general form input stylings*/
.collection_radio_buttons{
  width: 100%;
}



.selected-up{
  bottom:20px;
}



  /*removes text from radio button labels*/
  [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    font-size: 0.3rem;
    height:100%;
    color: rgba(255,255,255,0);
  }

  /*removes radio button circle*/

  [type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after{
    border-color: black;
    opacity: 0;
  }

  [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    opacity: 0;

  }

  [type="radio"] + label:before, [type="radio"] + label:after{
    transition: none;
  }



  /*create new project form*/
  #new_project{
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    flex:1;

  }

  #center-form{
    display:flex;
    justify-content: center;

  }

  #category-container{
    max-width:1000px;

  }

  #category-container .collection_radio_buttons:hover{
    bottom:20px;
  }

    #new_project .radio{
      margin: 20px;
      height:100px;
      width:100px;
      flex: 1 100px;
    }

    #new_project a{
      margin: 20px;
      height:100px;
      width:100px;
      flex: 1 100px;
    }



  /*edit project form */

.edit_project {
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  flex:1;
}

#center-form-edit{
  display:flex;
  justify-content: center;

}

#edit-category-container{
  max-width:1000px;
}

#edit-category-container .collection_radio_buttons:hover{
  bottom:20px;
}


.edit_project .radio {
  margin:30px;
  height:100px;
  width:100px;
  flex: 1 100px;
}
.edit_project a {
  margin:30px;
  height:100px;
  width:100px;
  flex: 1 100px;
}




/*general card styling*/

.card{
  margin-bottom: 25px;
  background-color: #56A3A6;
  color: #FDFDF9;
}

/* Project card styling */

#project-list li{
  padding:0;
  width:70px;
  height:70px;
  margin-left:auto;
  margin-right:auto;
}


/* Note card styling */

.yellow-note{
  background-color: #D9BC70;
  padding:25px;
  color: #FDFDF9;
  margin-bottom: 20px;
}

.yellow-note .card-action{
  background-color: #ad9659;
}

/*Project Page Styling*/
.cadet-blue-box{
 background-color: #56A3A6;
}

.cadet-blue-box .card-action{
  background-color:#448284;
}



.category-small li{
  width:100px;
  height:100px;
  line-height: 100px;
  margin-left:auto;
  margin-right:auto;
}

.summary{
}



/*button styling*/

.btn{
  background-color: #E55B47;
  color: #FDFDF9;
  margin:5px;
  padding:5px;
  min-height:3rem;
}

.btn:hover{
  background-color: #A74334;
}

/*text styling*/
.orange-text{
 color: #E55B47;
}
