@import "font-awesome";


*{
  margin:0;
  padding:0;
  position: relative;
}


.add-header{
  background-color:blue;
  width:100%;
  height:100px;
}

.style-h1{
  color: Blue;
  text-align: center;
}
