@import "font-awesome";
@import "materialize";

body{
  // background-color: #5e35b1;
  background-color: white;
}


.new_project{
  display: inline-flex;
  color:black;

}

nav{
  height:100px;
}

nav .brand-logo{
  margin-left: 15px;
  color: white;
}



[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after{
  border-color: black;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {

  background-color: #69f0ae;
  border-color:#69f0ae;

}

.btn{
  background-color: #ffa000;
  margin: 5px;
  color: black;
}

a{
  color:#ffa000;

}

.btn:hover{
  background-color: #ff6f00;
}

li{
  display: inline-flex;
  padding: 5px;
}

.simple_form{
  margin-left:auto;
  margin-right:auto;
  max-width: 900px;
  padding: 5px;
}

h4{
  margin-left:5px;
}

/* label color */
  .input-field label {
    color: black;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: black;
  }

  /* label focus color */
  .input-field input[type=number]:focus + label {
    color: black;
  }

  /* label underline focus color */
  .input-field input[type=text] {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 #000;
    color:black;
  }


  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 #000;
    color:black;
  }

  /* label underline color */
  .input-field input[type=number] {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 #000;
    color:black;
  }


  /* label underline focus color */
  .input-field input[type=number]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 #000;
    color:black;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }

  textarea.materialize-textarea:focus:not([readonly]) {
      border-bottom: 1px solid black;
      box-shadow: 0 1px 0 0 black;
  }

  textarea.materialize-textarea:focus:not([readonly]) + label {
    color: black;
  }






















@media only screen and (max-width: 500px) {
  .new_project{
    display:block;
    width:200px;
    margin-left:auto;
    margin-right:auto;
  }
}
